
@{
    var KullaniciID = (int)Session["Kullanici_ID"];
    var KullaniciIsmi = Session["İsim"];
    var KullaniciSoyismi = Session["Soyisim"];
    var KullaniciEMail = Session["E-Mail"];
    var KullaniciRolü = Session["Rol_Adi"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GLOG - Yönetim Paneli</title>


    <!--favicon-->
    <link rel="icon" href="~/Content/AdminPageContent/assets/images/favicon.ico" type="image/x-icon">
    <!--Select Plugins-->
    <link href="~/Content/AdminPageContent/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <!--inputtags-->
    <link href="~/Content/AdminPageContent/assets/plugins/inputtags/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <!--multi select-->
    <link href="~/Content/AdminPageContent/assets/plugins/jquery-multi-select/multi-select.css" rel="stylesheet" type="text/css">
    <!--Bootstrap Datepicker-->
    <link href="~/Content/AdminPageContent/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
    <!--Touchspin-->
    <link href="~/Content/AdminPageContent/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css">
    <!-- simplebar CSS-->
    <link href="~/Content/AdminPageContent/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/Content/AdminPageContent/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/Content/AdminPageContent/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/Content/AdminPageContent/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/Content/AdminPageContent/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/Content/AdminPageContent/assets/css/app-style.css" rel="stylesheet" />

</head>

<body>

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a href="~/Content/AdminPageContent/index.html">
                    @*<img src="~/Content/AdminPageContent/assets/images/logo/glog_logo.png" class="logo-icon" alt="logo icon">*@
                    <h5 class="logo-text"> GLOG Yönetim Paneli</h5>
                </a>
            </div>
            <ul class="sidebar-menu do-nicescrol">
                <li class="sidebar-header">MENÜ</li>
                <li>
                    <a href="/Home/Index" class="waves-effect">
                        <i class="icon-home"></i><span>GLOG</span><i></i>
                    </a>

                </li>
                <li>
                    <a href="/Admin/KullaniciListesi" class="waves-effect">
                        <i class="icon-people"></i><span>KULLANICI İŞLEMLERİ</span>

                    </a>
                </li>

                <li>
                    <a href="/Admin/IcerikListesi" class="waves-effect">
                        <i class="icon-notebook"></i><span>İÇERİK İŞLEMLERİ</span>
                    </a>

                </li>
                <li>
                    <a href="~/Content/AdminPageContent/widgets.html" class="waves-effect">
                        <i class="icon-graph"></i><span>İSTATİSTİKLER</span>
                    </a>
                </li>
                <li><a href="~/Content/AdminPageContent/javaScript:void();" class="waves-effect"><i class="icon-drop text-info"></i><span>Hakkımızda</span></a></li>
            </ul>

        </div>
        <!--End sidebar-wrapper-->
        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top gradient-ibiza">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="~/Content/AdminPageContent/javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>

                </ul>

                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="~/Content/AdminPageContent/javascript:void();">
                            <i class="icon-envelope-open"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    X yeni mesajınız var!
                                    <span class="badge badge-danger">X</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="~/Content/AdminPageContent/javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Content/AdminPageContent/assets/images/avatars/avatar-1.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">Jhon Deo</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                                <small>Today, 4:10 PM</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="~/Content/AdminPageContent/javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Content/AdminPageContent/assets/images/avatars/avatar-2.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">Sara Jen</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                                <small>Yesterday, 8:30 AM</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="~/Content/AdminPageContent/javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Content/AdminPageContent/assets/images/avatars/avatar-3.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">Dannish Josh</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                                <small>5/11/2018, 2:50 PM</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="~/Content/AdminPageContent/javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="~/Content/AdminPageContent/assets/images/avatars/avatar-4.png" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">Katrina Mccoy</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet.</p>
                                                <small>1/11/2018, 2:50 PM</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item"><a href="~/Content/AdminPageContent/javaScript:void();">Tüm mesajları gör</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="~/Content/AdminPageContent/javascript:void();">
                            <i class="icon-bell"></i><span class="badge badge-primary badge-up">10</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    You have 10 Notifications
                                    <span class="badge badge-primary">10</span>
                                </li>
                                <li class="list-group-item">
                                    <a href="~/Content/AdminPageContent/javaScript:void();">
                                        <div class="media">
                                            <i class="icon-people fa-2x mr-3 text-info"></i>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">New Registered Users</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="~/Content/AdminPageContent/javaScript:void();">
                                        <div class="media">
                                            <i class="icon-cup fa-2x mr-3 text-warning"></i>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">New Received Orders</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="~/Content/AdminPageContent/javaScript:void();">
                                        <div class="media">
                                            <i class="icon-bell fa-2x mr-3 text-danger"></i>
                                            <div class="media-body">
                                                <h6 class="mt-0 msg-title">New Updates</h6>
                                                <p class="msg-info">Lorem ipsum dolor sit amet...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item"><a href="~/Content/AdminPageContent/javaScript:void();">See All Notifications</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="~/Content/AdminPageContent/#">
                            <span class="user-profile"><img src="~/Content/AdminPageContent/assets/images/avatars/avatar-17.png" class="img-circle" alt="user avatar"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right animated fadeIn">
                            <li class="dropdown-item user-details">
                                <a href="~/Content/AdminPageContent/javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="~/Content/AdminPageContent/assets/images/avatars/avatar-17.png" alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">@KullaniciIsmi @KullaniciSoyismi</h6>
                                            <p class="user-subtitle">@KullaniciRolü</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Profilim</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-power mr-2"></i> Çıkış Yap</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->

        <div class="clearfix"></div>
        @RenderBody()
        @RenderSection("scripts", false)
        <!--Start Back To Top Button-->
        <a href="~/Content/AdminPageContent/javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        @*<footer class="footer">
                <div class="container">
                    <div class="text-center">
                        Tüm hakları Ufuk DOĞAN'a aittir.
                    </div>
                </div>
            </footer>*@

        <!--End footer-->

    </div><!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/AdminPageContent/assets/js/jquery.min.js"></script>
    <script src="~/Content/AdminPageContent/assets/js/popper.min.js"></script>
    <script src="~/Content/AdminPageContent/assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="~/Content/AdminPageContent/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- waves effect js -->
    <script src="~/Content/AdminPageContent/assets/js/waves.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/Content/AdminPageContent/assets/js/sidebar-menu.js"></script>
    <!-- Custom scripts -->
    <script src="~/Content/AdminPageContent/assets/js/app-script.js"></script>

    <!--Bootstrap Touchspin Js-->
    <script src="~/Content/AdminPageContent/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/Content/AdminPageContent/assets/plugins/bootstrap-touchspin/js/bootstrap-touchspin-script.js"></script>

    <!--Select Plugins Js-->
    <script src="~/Content/AdminPageContent/assets/plugins/select2/js/select2.min.js"></script>
    <!--Inputtags Js-->
    <script src="~/Content/AdminPageContent/assets/plugins/inputtags/js/bootstrap-tagsinput.js"></script>

    <!--Bootstrap Datepicker Js-->
    <script src="~/Content/AdminPageContent/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('#default-datepicker').datepicker({
            todayHighlight: true
        });
        $('#autoclose-datepicker').datepicker({
            autoclose: true,
            todayHighlight: true
        });

        $('#inline-datepicker').datepicker({
            todayHighlight: true
        });

        $('#dateragne-picker .input-daterange').datepicker({
        });

    </script>
    <!--Multi Select Js-->
    <script src="~/Content/AdminPageContent/assets/plugins/jquery-multi-select/jquery.multi-select.js"></script>
    <script src="~/Content/AdminPageContent/assets/plugins/jquery-multi-select/jquery.quicksearch.js"></script>


    <script>
        $(document).ready(function () {
            $('.single-select').select2();

            $('.multiple-select').select2();

            //multiselect start

            $('#my_multi_select1').multiSelect();
            $('#my_multi_select2').multiSelect({
                selectableOptgroup: true
            });

            $('#my_multi_select3').multiSelect({
                selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                afterInit: function (ms) {
                    var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
                },
                afterSelect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                }
            });

            $('.custom-header').multiSelect({
                selectableHeader: "<div class='custom-header'>Selectable items</div>",
                selectionHeader: "<div class='custom-header'>Selection items</div>",
                selectableFooter: "<div class='custom-header'>Selectable footer</div>",
                selectionFooter: "<div class='custom-header'>Selection footer</div>"
            });



        });

    </script>

</body>
</html>
